.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 40px;
}

.container-body {
    border: 2px solid grey;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 6px 10px 0 lightslategray;
    transition: 0.2s;
}

.container-body:hover {
    box-shadow: 0 11px 16px 0 lightslategray;
    transform: scale(1.1 );
}

